<div class="mb-3 text-red-500">
  <p class="text-sm">
    ※ ブラウザの再読み込みもしくはブラウザの戻るボタンをクリックした場合、ポモドーロタイマーがリセットされます。<br>
    ※ 2回目以降の時間計測において、スタートボタンを押さずに20分経過した場合、自動で活動記録の画面へと移ります。その際に、経過した20分も記録されません。
  </p>
</div>