<div class="flex justify-center mb-6">
  <button type="button" data-action="click->pomodoro#toggleMotivation" class="bg-linear-to-r from-violet-600 from-0% via-indigo-400 via-80% to-indigo-100 to-100% hover:from-violet-600 hover:via-indigo-500 hover:to-indigo-200 text-white/90 px-8 py-2 rounded-full font-semibold transition duration-200">
    集中できない、やる気が出ないときは
  </button>
</div>