<div class="flex justify-center gap-6">

  <button type="button" data-pomodoro-target="startButton" data-action="click->pomodoro#start" class="bg-green-700 text-white text-lg px-8 py-2 rounded-full hover:bg-green-800 transition">
    スタート
  </button>

  <button type="submit" data-action="click->pomodoro#finish" class="bg-red-500 text-white text-lg px-8 py-2 rounded-full hover:bg-red-600 transition">
    終了する
  </button>

</div>
