<div class="min-h-screen flex items-center justify-center bg-linear-to-b from-violet-600 from-0% via-indigo-400 via-80% to-indigo-100 to-100%">

  <div class="w-full max-w-2xl px-10 py-12">

    <!-- タイトル -->
    <h2 class="text-center text-2xl md:text-3xl font-semibold text-white/90 mb-10">
      闇の時間での活動内容編集
    </h2>

    <%= render "form", dark_time: @dark_time, button_text: "更新する", button_class: "bg-green-700 hover:bg-green-800", cancel_path: dark_time_path %>

  </div>
</div>
