<div class="bg-amber-500 hover:bg-amber-600 text-black rounded-lg px-4 py-3 shadow transition">

  <%= link_to activity_record_path(activity_record), class: "block flex flex-wrap gap-6 text-lg" do %>

    <!-- 日時 -->
    <span>
      <%= format_datetime(activity_record.started_at) %>
    </span>

    <!-- 光の時間の活動内容 -->
    <span>
      <%= activity_record.light_time&.action %>
    </span>

    <!-- コメント -->
    <span class="text-gray-800">
      <%= activity_record.comment.presence || "コメント記入なし" %>
    </span>

  <% end %>

</div>