<div data-controller="pomodoro" data-pomodoro-work-duration-value="120" data-pomodoro-break-duration-value="60" data-pomodoro-task-value="<%= @activity_record.task %>">

  <%= render "activity_records/pomodoro/work_screen" %>

  <%= render "activity_records/pomodoro/break_screen" %>

  <%= render "activity_records/pomodoro/motivation_screen" %>

</div>
