<div>
  <h1 class="font-bold text-3xl mb-6">概要</h1>
  <p class="text-lg leading-relaxed">Get The Time は本来望んでいる行動を<strong>光の時間の行動</strong>、
    望んでいないついやってしまう行動を<strong>闇の時間の行動</strong>として考えて、
    光の時間の行動をすることで、本来の自分を取り戻すサービスです。具体的には、まず
  </p>
  <p class="font-bold text-xl my-2">Step1: 闇の時間の活動内容の登録</p>
  <p class="text-lg leading-relaxed">で闇の時間での行動を言語化し、その行動し続けることで迎えてしまう避けたい未来を想像していただきます。</p>
  <p class="text-lg leading-relaxed">次に</p>
  <p class="font-bold text-xl my-2">Step2: 光の時間の活動内容の登録</p>
  <p class="text-lg leading-relaxed">で、光の時間での行動の言語化してもらうと同時に、なりたい自分について明確にします。</p>
  <p class="text-lg leading-relaxed">上記の2ステップで各々の行動と導かれる未来を認識した後に、実際に光の時間の行動に記載した活動に取り組んでいただきます。</p>
  <p class="text-lg leading-relaxed">具体的には、</p>
  <p class="font-bold text-xl my-2">Step3: 光の時間の活動時間の計測</p>
  <p class="font-bold text-xl my-2">Step4: 光の時間の活動記録の登録</p>
  の2ステップを通して、ポモドーロタイマーを用いて活動を行い、活動記録として記録することで振り返りを行います。
  最後に
  <p class="font-bold text-xl my-2">Step5: 浄化タイマーの使い方</p>
  の説明を行っております。
  浄化タイマーとは、闇の時間での行動（娯楽時間）やリラックスする残り時間をカウントするタイマーのことです。
  浄化タイマーの時間は、光の時間の活動記録登録後に時間が付与されます。
  浄化タイマーを活用することで、娯楽時間の目安を把握することができ、
  光の時間と闇の時間のバランスをとって過ごすことができます。
  結果的に、「やるべきことをやらないといけないのは分かっているけど、遊ぶ時間は欲しい。
  けど、どのくらいとって大丈夫なのか分からない」といった悩みが解消されます。
</div>
