<details id="step5" class="mt-10 mb-30 group border border-zinc-800 rounded-lg p-4 open:shadow-lg transition-all duration-300">
  <summary class="text-2xl font-bold cursor-pointer list-item">
    Step5: 浄化タイマーの使い方
  </summary>
  <div class="my-6">
    <p class="mb-2 text-lg">こちらは、step4終了後に利用可能になります</p>
  </div>
  <div class="my-6">
    <p class="mb-2 text-lg"> 1. 左上のハンバーガーメニューを開いて、マイページを選択</p>
    <%= image_tag "how_to_use/activity_record_hamburger_menu.png" %>
  </div>
  <div class="my-6">
    <p class="mb-2 text-lg">2. 右上の浄化タイマーの緑色のスタートボタンをクリック</p>
    <p class="mb-2 text-md text-red-700">※ 自分が決めた1週間毎など期間外の時間等の理由で不要な場合、リセットボタンを押して0秒にすることもできます。その際、利用できなくなるため、注意!</p>
    <%= image_tag "how_to_use/mypage_confirm_purification_time.png" %>
  </div>
  <div class="my-6">
    <p class="mb-2 text-lg">3. スタートボタンをクリック</p>
    <%= image_tag "how_to_use/purification_timer_before_start.png" %>
  </div>
  <div class="my-6">
    <p class="mb-2 text-lg">4. 闇の時間での行動やその他リラックスする活動などを行う。途中で止める場合は終了するボタンをクリック</p>
    <p class="mb-2 text-md">※ タイマーの残り時間が0秒になると自動で終了し、マイページに移動します。</p>
    <p class="mb-2 text-md">※ 終了するボタンをクリックした場合、再度こちらの画面を開くことで、残り時間でタイマーを再開することができます。</p>
    <p class="mb-2 text-md">※ タイマーの残り時間は活動時間を計測することで追加することができます。</p>
    <%= image_tag "how_to_use/purification_timer_after_start.png" %>
  </div>
</details>
