<div data-controller="hamburger">
  <div class="flex justify-between items-center text-zinc-800">
    <div class="relative">
      <!-- ハンバーガーボタン -->
      <div class="absolute top-6 left-6 z-60">
        <button data-hamburger-target="button" data-action="click->hamburger#toggle" class="hamburger-button flex flex-col justify-center items-center w-10 h-10 relative rounded bg-linear-to-b from-yellow-400 from-0% via-yellow-200 via-80% to-yellow-100 to-100% hover:from-yellow-500 hover:via-yellow-300 hover:to-yellow-200" aria-label="メニュー">
          <span class="hamburger-line"></span>
          <span class="hamburger-line"></span>
          <span class="hamburger-line"></span>
        </button>
      </div>

      <!-- オーバーレイ（背景を暗くする要素） -->
      <div data-hamburger-target="overlay" data-action="click->hamburger#close" class="fixed inset-0 bg-black opacity-50 hidden z-40">
      </div>
    </div>

    <!-- ハンバーガーメニュー展開時 -->
    <nav data-hamburger-target="menu" class="fixed top-0 left-0 h-full w-1/3 bg-linear-to-b from-yellow-400 from-0% via-yellow-200 via-80% to-yellow-100 to-100% z-50 transform -translate-x-full transition-transform duration-300">
      <ul class="pt-35 last:border-b last:border-amber-500">
        <li><%= link_to "マイページ", mypage_path, data: { action: "click->hamburger#close" }, class: nav_link_class(mypage_path) %></li>
        <li><%= link_to "活動記録", activity_records_path, data: { action: "click->hamburger#close" }, class: nav_link_class(activity_records_path) %></li>
      </ul>
    </nav>
  </div>
</div>
