<div class="text-center">

  <p class="text-white text-xl mb-4">
    今日の光の時間
  </p>

  <p class="text-white text-3xl font-bold mb-8">
    <%= format_minutes_to_hm(@today_light_time) %>
  </p>

  <p class="mb-2">
    やること(任意)
  </p>

  <%= form_with url: pomodoro_timer_activity_records_path, method: :get, local: true do |f| %>

    <%= f.text_field :task, placeholder: "やることを入力", class: "rounded px-3 py-2 w-56 mb-6 bg-gray-200 border-2 focus:outline-none focus:ring-4 focus:ring-blue-400" %>

    <div>
      <%= f.submit "スタート", class: "bg-linear-to-r from-yellow-400 from-0% via-yellow-200 via-80% to-yellow-100 to-100% px-6 py-2 rounded-full font-semibold hover:from-yellow-500 hover:via-yellow-300 hover:to-yellow-200 transition" %>
    </div>
  <% end %>

</div>
