<div class="flex justify-center gap-6">

  <%= button_to "スタート", "#", method: :post, class: "bg-green-700 text-white text-lg px-8 py-2 rounded-full hover:bg-green-800 transition" %>

  <%= button_to "終了する", "#", method: :post, class: "bg-red-500 text-white text-lg px-8 py-2 rounded-full hover:bg-red-600 transition" %>

</div>
