<div class="min-h-screen flex items-center justify-center bg-linear-to-b from-violet-600 from-0% via-indigo-400 via-80% to-indigo-100 to-100% text-white/90">

  <div class="w-full max-w-2xl px-10 py-12">

    <!-- タイトル -->
    <h2 class="text-center text-2xl md:text-3xl font-semibold mb-10">
      後悔した1日の記録を編集
    </h2>

    <%= render "form", regret_record: @regret_record, button_text: t("shared.buttons.update"), button_class: "bg-green-700 hover:bg-green-800", cancel_path: regret_record_path(@regret_record) %>

  </div>
</div>
