<p><%= @resource.name %> 様</p>

<p>パスワード再設定のリクエストを受け付けました。下記のリンクから新しいパスワードを設定してください。</p>

<p><%= link_to "パスワードを再設定する", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このリンクの有効期限は、メール送信から<%= Devise.reset_password_within.in_hours.to_i %>時間です。期限を過ぎた場合は、お手数ですが再度お申し込みください。</p>

<p>このリクエストに心当たりがない場合は、このメールを無視してください。上記のリンクにアクセスして新しいパスワードを設定するまで、パスワードは変更されません。</p>
